@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-level defaults */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-gray-900;
}

.dark body {
  @apply bg-gray-950 text-gray-100;
}